#--------------------------------------------
# Object/temporary files from Vircon32
#--------------------------------------------
*.vtex
*.vsnd
*.vbin
*.vmap

#--------------------------------------------
# Local build folders
#--------------------------------------------
obj

#--------------------------------------------
# IDE temporary files
#--------------------------------------------
.vscode
*.layout

#--------------------------------------------
# Provisional files/folders marked as [xxx]
#--------------------------------------------
\[*\]
\[*\].*
