#--------------------------------------------
# Final Vircon32 binaries
#--------------------------------------------
*.v32

#--------------------------------------------
# Object/temporary files from Vircon32
#--------------------------------------------
*.vtex
*.vsnd
*.vbin
*.vmap

#--------------------------------------------
# Local build folders
#--------------------------------------------
bin
obj

#--------------------------------------------
# Provisional files/folders marked as [xxx]
#--------------------------------------------
\[*\]
\[*\].*
